---
import Layout from '../layouts/Layout.astro';

const { user } = Astro.locals;
---

<Layout title="Home">
  <h1>MyBowlingTracker</h1>
  {
    user ? (
      <p><a href="/dashboard">Go to Dashboard</a></p>
    ) : (
      <div class="cta-row">
        <a class="button" href="/login">Log In</a>
        <a class="button secondary" href="/signup">Sign Up</a>
      </div>
    )
  }
</Layout>
